#MainBodyStyle{
    background-color:  #bed2ee;
}

#MainPageHeader{

    text-align: center;
    border-style: solid;
    max-width: 10vw;
    max-height: 10vw;
}
#Board{
    position: relative;
    right: 1vw;
    top: 2vw;
    width: 480px;
    height: 480px;
    border-style:solid;
    border-width:2px;
}
#LoginForm{

}